name: test

on: [workflow_call]

jobs:
  lint:
    name: Lint Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install poetry
      - name: Install pwizard
        run: poetry install
      - name: Run MyPy
        run: make lint

  format:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install poetry
      - name: Install pwizard
        run: poetry install
      - name: Check formatting
        run: make formatcheck

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install poetry
        uses: snok/install-poetry@v1
      - name: Install pwizard
        run: poetry install
      - name: Run tests
        run: make test
